php_value display_errors 1

RewriteEngine on

RewriteRule ^post$ create_post.php
RewriteRule ^communities$ community_list.php
RewriteRule ^communities/create$ create_community.php
RewriteRule ^communities/recommended$ communitiy_list.php?type=recommended
RewriteRule ^communities/([0-9]+)$ communities.php?id=$1
RewriteRule ^communities/([0-9]+)/post$ create_post.php?id=$1
RewriteRule ^communities/([0-9]+)/unjoin$ delete.php?id=$1&type=unjoin
RewriteRule ^posts/([0-9]+)$ post.php?id=$1
RewriteRule ^posts/([0-9]+)/html$ post.php?id=$1&view_html
RewriteRule ^posts/([0-9]+)/comment$ create_comment.php?id=$1
RewriteRule ^posts/([0-9]+)/delete$ delete.php?id=$1&type=post
RewriteRule ^notifications$ notifications.php
RewriteRule ^settings/profile$ profile_settings.php
RewriteRule ^settings/account$ account_settings.php
RewriteRule ^settings/sessions$ session_settings.php
RewriteRule ^users/([A-Za-z0-9_-]+)$ profile.php?id=$1&page=profile [QSA,L]
RewriteRule ^users/([A-Za-z0-9_-]+)/likes$ profile.php?id=$1&page=likes [QSA,L]
RewriteRule ^users/([A-Za-z0-9_-]+)/posts$ profile.php?id=$1&page=posts [QSA,L]
RewriteRule ^users/([A-Za-z0-9_-]+)/comments$ profile.php?id=$1&page=comments [QSA,L]
RewriteRule ^users/([A-Za-z0-9_-]+)/followers$ profile.php?id=$1&page=followers [QSA,L]
RewriteRule ^users/([A-Za-z0-9_-]+)/following$ profile.php?id=$1&page=following [QSA,L]
RewriteRule ^users/([A-Za-z0-9_-]+)/delete$ delete_account.php?id=$1 [QSA,L]
RewriteRule ^rules$ rules.php
RewriteRule ^check_update.json$ check_notifs.php
RewriteRule ^register$ signup.php
RewriteRule ^login$ signin.php
RewriteRule ^api/users/([A-Za-z0-9_-]+)/info.json$ api/userInfo.php?token=$1
ErrorDocument 404 /404.php

<Files 403.shtml>
order allow,deny
allow from all
</Files>